@import "menu.css";

BODY
{
    margin: 0 0 0 0;
    background-color: #ffffff;
    margin-top: 0;
    letter-spacing: 1px;
}
.bodystyle
{
    background-color: #ffffff;
    margin-top: 0;
}
.style1
{
    font-size: 14px;
}
.style5
{
    color: #063900;
    font-size: 16px;
}
.style3
{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.style4
{
    color: #000000;
    font-size: 13px;
}
.style6
{
    font-size: 16px;
}
.list_bullet
{
    color: green;
}
.list_title
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    color: black;
    text-decoration: none;
}
.article_summary
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    color: gray;
    font-size: small;
}
.article_title
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.article_title:hover
{
    color: #00ffff;
}
.list_title:hover
{
    color: #00ffff;
}
.article_subtitle
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    font-size: medium;
}
.article_date
{
    font-family: Sans-Serif, Arial;
    color: gray;
    font-size: small;
}
.article_new_sign
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    color: #ff2267;
    font-size: small;
}
.article_content
{
    letter-spacing: 0px;
    font-family: 新細明體, 細明體;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.article_category_title
{
    font-family: 新細明體, 細明體, Sans-Serif, Arial;
    color: #063900;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
A
{
    color: #063900;
}
.aspStaticMenu
{
    padding-bottom: 0px;
    line-height: 30px;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    white-space: nowrap;
    color: #063900;
    font-size: 16px;
    padding-top: 0px;
}
.aspStaticHoverMenu
{
    color: #00ffff;
}
.aspDynamicHoverMenu
{
    color: #00ffff;
}
.aspDynamicMenu
{
    background-color: white;
}
.aspDynamicItemMenu
{
    padding-bottom: 0px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    padding-top: 0px;
}
.home_tbl1
{
    background-color: #dddddd;
    padding-left: 92px;
    padding-right: 92px;
}
.home_tbl2
{
    background-color: #ccbbff;
    padding-left: 18px;
    padding-right: 18px;
}
.home_tbl3
{
    border-left: black 2px solid;
    background-color: white;
    width: 804px;
    border-right: black 2px solid;
}
.home_tbl4
{
    padding-bottom: 18px;
    background-color: #ab66ff;
    padding-top: 18px;
}
.home_tbl5
{
    background-color: #ff2267;
}
.home_tbl6
{
    background-color: #ffbbee;
    width: 200px;
    height: 400px;
}
.home_tbl7
{
    background-color: #ff999a;
    height: 100px;
}
.home_tbl8
{
    background-color: #d0d0d0;
}
