/* Bottom navigation bar (content footer nav) */
#bottom-nav .col1{ background: url('general/btt_01.gif') no-repeat right top; }
#bottom-nav .col2{ background: url('general/btt_02.gif') repeat-x left top; }
#bottom-nav .col3{ background: url('general/btt_02.gif') repeat-x left top; }
#bottom-nav .col4{ background: url('general/btt_02.gif') repeat-x left top; }
#bottom-nav .col5{ background: url('general/btt_02.gif') repeat-x left top; }
#bottom-nav .col6{ background: url('general/btt_05.gif') no-repeat left top; }
