.label 
{
  padding-top:4px;
  text-align:right;
  vertical-align:top;
  padding-right:4px;
}

div#busy
{
  visibility:hidden;
  position:absolute;
  z-index:50;
  background-color:#333333;
  opacity:0.5;
  filter: alpha(opacity=50);
  moz-opacity:0.5
}

div#cover
{
  visibility: hidden;
  position: absolute;
  z-index: 100;
  background-color: White;
  border-style:groove;
  border-width: 2px;
  border-color: #FFFFFF;
}

.topMenu
{
  background-color:#D6E3FF;
}

.ledgend
{
  color:#800000;
}

.version
{
  color:#1E89BD;
  text-decoration:none;
}