	.footer {
		font-size: 10px;
		font-weight: normal;
		text-decoration: none;
		color: #6699CC;
		font-family: "Helvetica";
	
	}
	.deadline {
		font-size: 60px;
		font-weight: normal;
		text-decoration: none;
		color: #8DC347;
		font-family: "Helvetica";
	
	}
	
	.date {
		font-size: 11px;
		font-weight: normal;
		text-decoration: none;
		color: #333333;
		font-family: arial;
		letter-spacing: 1px;
	
	}
	
	.copyright {
		font-family: "Arial";
		font-size: 10px;
		text-decoration: none;
		color: #999999;
		letter-spacing: 1px;
		line-height: 3	;
	
	}
		.content6 {
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	color: #000000;

	}
	.content {
	font-family: "細明體";
	font-size: 13px;
	text-decoration: none;
	color: #666666;
	line-height: 15px;
	
	}
	
		.content9 {
	font-family: "細明體";
	font-size: 13px;
	text-decoration: none;
	color: #666666;
	line-height: 18px;
	
	}
	
			.content8 {
	font-family: "細明體";
	font-size: 13px;
	text-decoration: none;
	color: #666666;
	line-height: 16px;
	
	}
		.content2 {
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	line-height: normal;
	
	line-height: 16px;
	
	}
	.support {
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	color: #257A03;
	line-height: 18px;
	font-weight: bold;
	
	}
	.title {
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #6FB82B;
	}
	
		.titleo {
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #FF6600;
	}
	
		.title9 {
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #6FB82B;
	}
	
	.stitle {
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #9966CC;
	}
.stitle2 {
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: ;
	text-decoration: none;
	color: #9966CC;
	}
	
	.seemore {
		font-family: "Helvetica";
		font-size: 9px;
		font-weight: normal;
		text-decoration: underline;
		color: #333333;
	}
	
	email A:link { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #999999; }
	.email A:link { font-family: "Helvetica"; font-size: 12px; text-decoration: underline; color: #999999; }
	.email A:visited { font-family: "Helvetica"; font-size: 12px; text-decoration: underline; color: #999999; }
	.email A:active { font-family: "Helvetica"; font-size: 12px; text-decoration: underline; color: #999999; }
	.email A:hover { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #FF9900; }
	
	
	
	link A:link { font-family: "Helvetica";	font-size: 12px; text-decoration: none; color: #999999; }
	.link A:link { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #999999; }
	.link A:visited { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #999999; }
	.link A:active { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #999999; }
	.link A:hover { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #FF9900 ; }
	
	news2 A:link { font-family: "Helvetica";	font-size: 12px; text-decoration: none; color: #FFFF00; }
	.news2 A:link { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #FFFF00; }
	.news2 A:visited { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #FFFF00; }
	.news2 A:active { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #FFFF00; }
	.news2 A:hover { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #EFF7DF ; }

	success2 A:link { font-family: "Helvetica";	font-size: 12px; text-decoration: none; color: #9966CC; }
	.success2 A:link { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success2 A:visited { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success2 A:active { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success2 A:hover { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #9966CC; }
		
	
	success A:link { font-family: "Helvetica";	font-size: 12px; text-decoration: none; color: #9966CC; }
	.success A:link { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success A:visited { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success A:active { font-family: "Helvetica"; font-size: 12px; text-decoration: none; color: #9966CC; }
	.success A:hover { font-family: "Helvetica";	font-size: 12px; text-decoration: underline; color: #9966CC; }
	
  	glink A:link { font-family: "Helvetica";	font-weight: bold;font-size: 12px; text-decoration: none; color: #8DC347; }
	.glink A:link { font-family: "Helvetica";  font-weight: bold; font-size: 12px; text-decoration: none; color: #8DC347; }
	.glink A:visited { font-family: "Helvetica"; font-weight: bold; font-size: 12px; text-decoration: none; color: #8DC347; }
	.glink A:active { font-family: "Helvetica";  font-weight: bold;font-size: 12px; text-decoration: none; color: #8DC347; }
	.glink A:hover { font-family: "Helvetica";  font-weight: bold;font-size: 12px; text-decoration: underline; color: #FF9900;
}
