html * {font-family: 黑體, 新細明體, SimHei, Georgia, Helvetica;}

body, th, td, li, input, textarea{
	font-family: 黑體, 新細明體, SimHei, Georgia, Helvetica;
}

a {
	font-size: 14px;
}

p, td, li {
	font-size: 13px;
}


/************* app_website\css\maintheme.css *************/

#ff_footer ul.footer_left{width: 750px;}
#ff_footer ul.footer_left li.salvationarmy     {background:url(../images/footer/zh_hk/footer_nav_0.png) no-repeat bottom left; width: 104px;}
#ff_footer ul.footer_left li.esd_main     {background:url(../images/footer/zh_hk/footer_nav_1.png) no-repeat bottom left; width: 88px;}
#ff_footer ul.footer_left li.privacy       {background:url(../images/footer/zh_hk/footer_nav_2.png) no-repeat bottom left;}
#ff_footer ul.footer_left li.tc                 {background:url(../images/footer/zh_hk/footer_nav_3.png) no-repeat bottom left;}
#ff_footer ul.footer_left li.copyright   {background:url(../images/footer/zh_hk/footer_nav_4.png) no-repeat bottom left;}
#ff_footer ul.footer_left li.contact_us {background:url(../images/footer/zh_hk/footer_nav_5.png) no-repeat bottom left;}

.nav_main                     {top: 20px; left:220px; background: url(../images/header/zh_hk/03_nav_1.png) no-repeat top left;}
.nav_service               {top: 30px; left:318px; background: url(../images/header/zh_hk/03_nav_2.png) no-repeat top left;}
.nav_characteristic {top: 40px; left:416px; background: url(../images/header/zh_hk/03_nav_3.png) no-repeat top left;}
.nav_admission           {top: 52px; left:514px; background: url(../images/header/zh_hk/03_nav_4.png) no-repeat top left;}
.nav_sanitation         {top: 65px; left:612px; background: url(../images/header/zh_hk/03_nav_5.png) no-repeat top left;}
.nav_econtact             {top: 75px; left:710px; background: url(../images/header/zh_hk/03_nav_6.png) no-repeat top left;}
.nav_event                   {top: 78px; left:808px; background: url(../images/header/zh_hk/03_nav_7.png) no-repeat top left;}
.nav_federation         {top: 75px; left:906px; background: url(../images/header/zh_hk/03_nav_8.png) no-repeat top left;}

.kindergarten_btn.nav_main                     {top: 30px; left:318px; background: url(../images/header/zh_hk/04_nav_1.png) no-repeat top left;}
.kindergarten_btn.nav_service               {top: 40px; left:416px; background: url(../images/header/zh_hk/04_nav_2.png) no-repeat top left;}
.kindergarten_btn.nav_characteristic {top: 52px; left:514px; background: url(../images/header/zh_hk/04_nav_3.png) no-repeat top left;}
.kindergarten_btn.nav_admission           {top: 65px; left:612px; background: url(../images/header/zh_hk/04_nav_4.png) no-repeat top left;}
.kindergarten_btn.nav_sanitation         {top: 75px; left:710px; background: url(../images/header/zh_hk/04_nav_5.png) no-repeat top left;}
.kindergarten_btn.nav_econtact             {top: 78px; left:808px; background: url(../images/header/zh_hk/04_nav_6.png) no-repeat top left;}
.kindergarten_btn.nav_event                   {top: 75px; left:906px; background: url(../images/header/zh_hk/04_nav_7.png) no-repeat top left;}

.content_header{
	background: url(../images/03_content_bg_1.jpg) no-repeat top center;
}

#popup_1 .popup_all_content .popup_close2, #popup_3 .popup_all_content .popup_close2{
	background: url(../images/popup/zh_hk/btn_close_red.png) no-repeat left top;
}
#popup_1.popup_top {
	background: url(../images/popup/popup_bg_top2.jpg) no-repeat center top;
}
#popup_1 .popup_all_content .popup_title{
    width: 160px;
}
#popup_2 .popup_all_content .popup_close2{
	background: url(../images/popup/zh_hk/btn_close_green.png) no-repeat left top;
}
#popup_5 .popup_all_content .popup_close2{
	background: url(../images/popup/zh_hk/btn_close_green.png) no-repeat left top;
}


/************* app_website\css\home.css *************/

.home .banner{
	background: url(../images/home_main/zh_hk/main_banner.png) no-repeat top center;
}
.home .main2submain{
	background: url(../images/home_main/zh_hk/btn_startnow.png) no-repeat top center;
}


/************* app_website\css\school.css *************/
.school .showDetails, 
.school .news_list-item .showNewsDetails{
	background: url(../images/popup/zh_hk/btn_detail_red.png) no-repeat top center;
}
.school #back2head{
	background: url(../images/school/zh_hk/btn_backtop.png) no-repeat top center;
}
.school #map_title{
	background: url(../images/school/red_tag_2.png) no-repeat top center;
}



/************* app_website\css\preschool.css *************/
.preschool .main2submain.in_preschool1      {background: url(../images/pre_kinder/home/zh_hk/02nav_1.png) no-repeat top center; left:0px;}
.preschool .main2submain.in_preschool2      {background: url(../images/pre_kinder/home/zh_hk/02nav_2.png) no-repeat top center; left:245px;}
.preschool .main2submain.in_kindergarten  {background: url(../images/pre_kinder/home/zh_hk/02nav_3.png) no-repeat top center; left:490px;}
.preschool .main2submain.in_resource          {background: url(../images/pre_kinder/home/zh_hk/02nav_4.png) no-repeat top center; left:735px;}

.preschool .sub_box.mission_top{
    background: url(../images/pre_kinder/home/zh_hk/02_content_box1_top.png) no-repeat top center;
}

.preschool .sub_box.idea_top{
    background: url(../images/pre_kinder/home/zh_hk/02_content_box2.png) repeat-x top center;
}
.preschool .sub_box .idea_bottom{
    background: url(../images/pre_kinder/home/zh_hk/02_content_box1_bottom.png) no-repeat bottom right;
}


/************* app_website\css\preschool_kindergartin.css *************/
.kindergarten .news_list-item .showNewsDetails,
.nursery_school .news_list-item .showNewsDetails{
	background: url(../images/popup/zh_hk/btn_detail_green.png) no-repeat top center;
}
.kindergarten .all_main_content, 
.nursery_school .all_main_content{
	background: url(../images/pre_kinder/03_home_image.png) no-repeat top center;
}


/************* app_website\app_admission\css\admission.css *************/
.admission .dl_form{
	background: url(../images/btn_dl_form.png) no-repeat top center;
}