/************* admission *************/
.banner{
	background: url(../images/03_banner_4.png) no-repeat top center;
    width:1024px;
    height:303px;
    position: relative;
    top: -165px;
    display: block;
}
.kindergarten .banner{
	background: url(../images/04_banner_4.png) no-repeat top center;
}

.title{
    color: #75C03F;
    font-size:15pt;
    font-weight: bold;
    position: relative;
    top: -35px;
    left: 75px;
}

.content{
    width:875px;
    position: relative;
    top: 10px;
    left: 45px;
    display: block;
}
.kindergarten .content{
    /*height:752px;*/
}
.sub_p{
    width:940px;
    margin-bottom: 25px;
}
.sub_title{
    color: #83C645;
    font-weight: bold;
    font-size:13pt;
    margin-bottom: 5px;
}
.text_alert{
    color: #83C645;
    font-size:10pt;
    margin-bottom: 30px;
}

.content p{
    margin-bottom: 30px;
    line-height: 17px;
}
.content ul{
    margin-top: -20px;
    color : #000;
    list-style-type:disc;
    margin-left: 10px;
    line-height: 20px;
}
.content ul.ul2{
    margin-top: 0px;
}
.sub_p ul{
    margin-top: 10px;
    line-height: 20px;
}

.dl_form{
    display:inline-block;
    width:115px;
    height:23px;
}

.dl_form_en{
	background: url(../images/btn_dl_form_en.png) no-repeat top center;
    display:inline-block;
    width:135px;
    height:23px;
}