/* Global */
html, body {height:100%; font-family: Arial, "新細明體"; font-size:0.69em; color:#808080; margin:0px 0px 0px 0px; background-image:url(/Templates/nstw/Images/Education/BGImg.gif); background-repeat:repeat-x; background-color:#c4dd9b; background-position:top !important; }

#bodyContainer {margin-left:auto; margin-right:auto; padding-top:10px; min-height:100%; height:100%; position:relative; clear:both;}
#ContainerAlign { height:100%; position: relative;}
#Header { width:997px; padding-top:10px; margin-left:auto; margin-right:auto;position: relative; }
#Footer { clear:both; padding:10px 10px 10px 10px; background-color:#fff; margin-left:0; margin-right:0; border-top:1px solid #dadada; width:977px; display: inherit; margin-left:auto; margin-right:auto; }
.MainContainerDiv { width:100%; }
.MainContainer {width:997px; margin-left:auto; margin-right:auto; position:relative; min-height:200px; background-color:#fff; }

.PremiumBanner { width:997px; height:131px; }
.PremiumBanner .BibleVerse {padding: 30px 20px 0px 640px; text-align:justify; position: absolute; top: 0px; }
.PremiumBanner .BibleVerse .MainTitle { font-size:21px; color:#1229a9;}
.PremiumBanner .BibleVerse .Verse { padding:10px 0px 0px 0px; font-size:11px;}

a { text-decoration:none; color:#808080;}
a:hover { text-decoration:underline;}
a Img { border:0px;}
.NavTag_off { height:20px; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }
.NavTag_on { background-color:#45bdee; color:#FFF; height:20px; display: inherit; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }
.Search { margin:2px 10px 0px 0px; width: 284px;}
Img { vertical-align:bottom;}

.Branding a { color:#b3b3b3; font-size:11px; }
.Branding .SColor01 {color:#66d1a0;}
.MainControl {text-align:right; margin-right:15px;}
.MainControl .promotionList{text-align:right; margin-right:15px; float:left;}
.TopNav {clear:both; width:100%; background-color:#7dc659; background-image:url(/Templates/nstw/Images/Education/TopNav_BGBar.gif); background-repeat:repeat-x;}
.TopNav .NavDiv {width:997px; margin-left:auto; margin-right:auto; position:relative; min-height:48px; max-height:64px;}
.TopNav .TagBar {border-left:1px solid #dadada; border-right:1px solid #dadada; border-top:1px solid #dadada; min-height:26px; max-height:26px; background-image:url(/Templates/nstw/Images/Education/TopNav_MainBG.png);}
.TopNav .NavSub
{
	color: #fff;
	padding: 3px 0px 3px 15px;
}
.TopNav .NavSub a { color:#fff; }

.TopNav .TagBar a.active { background-color:#7dc659; color:#FFF; height:20px; display: inherit; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }
.TopNav .TagBar a.active:hover  { background-color:#7dc659; color:#FFF; height:20px; display: inherit; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }
.TopNav .TagBar a { height:20px; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }
.TopNav .TagBar a:hover { background-color:#7dc659; color:#FFF; height:20px; display: inherit; float:left; padding:2px 10px 0px 10px; padding:4px 10px 0px 10px\9; margin:4px 0px 0px 5px; font-weight:bold; font-size:11px; }

.TopNav .TagBar .Search a { background-color:transparent; padding: 0px 0px 0px 0px; margin: 2px 15px 0px 0px; }
.TopNav .TagBar .Search a:hover { background-color:transparent; padding: 0px 0px 0px 0px; margin: 2px 15px 0px 0px; }

.Input_M { width:130px; height:15px;}
.CorpFS { font-size:100%;}
.F100 { font-size:11px;}
.FLFT { float:left}
.FRGT { float:right}
.SpaceS { padding-right:5px}
.SpaceM { padding-right:10px}
.W100 { width:100% }
.W80 { width:80% }
.W60 { width:60% }
.W50 { width:50% }
.W40 { width:40% }
.W30 { width:30% }
.W20 { width:20% }
.W10 { width:10% }
.CB { clear:both; }
.TL { text-align:left}
.TC { text-align:center}
.TR { text-align:right}

/* Youth */
.MainContent {padding:5px;}
.MainContent .MSGBar{background-color:#72C924; color:#fff; padding:5px 10px 5px 10px;}
.MainContent .MainContentDiv{padding-top:5px;}
.MainContent .MainLHS {float:left; width:150px; min-height:100px; font-size:11px;}
.MainContent .MainRHS {float:right; width:320px; min-height:250px; }
.MainContent .MainMHS {float:left; width:512px; min-height:100px;}

.SectionTitle {color:#6DC43E; font-weight:bold; padding-left:8px;:}
.Margin01 { margin:5px 0px 5px 0px;}
.Margin02 { margin:5px 0px 5px 0px;}

.MainContent .MainBanner img { border:1px solid #dadada; height:60px; widows:310px; margin-bottom:5px; }

.MainLHS_Btn_Off {background-color:#45bdee; padding:1px 0px 1px 1px; margin-bottom:2px; clear:both;}
.MainLHS_Btn_Off .BtnBorder {padding:2px 0px 2px 8px; border-top:1px solid #fff; border-bottom:1px solid #fff; border-left:1px solid #fff; color:#fff; }
.MainLHS_Btn_Off .BtnBorder a { color:#fff;}

.MainLHS_Btn_On {background-color:#49a3ff; padding:1px 0px 1px 1px; margin-bottom:2px; clear:both;}
.MainLHS_Btn_On .BtnBorder {padding:2px 0px 2px 8px; border-top:1px solid #fff; border-bottom:1px solid #fff; border-left:1px solid #fff; color:#fff; }
.MainLHS_Btn_On .BtnBorder a { color:#fff;}

.MainMHS .FunctionArea {width:512px; max-height:200px; min-height:205px; margin:5px 0px 10px 0px; }
.FunctionArea .PhotoAlbum { float:left; min-width:300px; max-width:300px; min-height:205px; max-height:205px;}
.FunctionArea .Calendar { float:right; min-width:207px; max-width:207px; min-height:205px; max-height:205px; padding-right:2px;}

.ContentLHS_Btn_Off {background-color:#b1b1b1; padding:1px; margin-bottom:2px; clear:both;}
.ContentLHS_Btn_Off .BtnBorder {padding:2px 0px 2px 8px; border:1px solid #fff; }
.ContentLHS_Btn_Off .BtnBorder a { color:#fff;}

.ContentLHS_Btn_On {background-color:#49a3ff; padding:1px; margin-bottom:2px; clear:both;}
.ContentLHS_Btn_On .BtnBorder {padding:2px 0px 2px 8px; border:1px solid #fff; }
.ContentLHS_Btn_On .BtnBorder a { color:#fff;}


.MBoxW_M { width:331px;}
.MBoxW_S { width:154px;}
.MBoxW_L { width:510px;}

.MBoxStyle1 { /*margin-top:5px;*/ border:1px solid #dadada; max-height:248px; vertical-align:top; }
.MBoxStyle1 .TagBar { background-image:url(/Templates/nstw/Images/Education/Mbox_BG.gif); background-position:right; background-repeat:no-repeat; min-height:19px; padding:5px 5px 0px 5px; border-bottom:1px solid #dadada; font-size:11px; }
.MBoxStyle1 .TagBar a.active {background-color:#FFF; color:#6dc43e; margin-top:5px; padding:2px 10px 7px 10px; border-bottom:1px solid #FFF; }
.MBoxStyle1 .TagBar a.active:hover {background-color:#FFF; color:#49b012; margin-top:5px; padding:2px 10px 7px 10px;}
.MBoxStyle1 .TagBar a {color:#FFF; margin-top:5px; padding:2px 10px 7px 10px;}
.MBoxStyle1 .TagBar a:hover { background-color:#FFF; color:#75b5ff; margin-top:5px; padding:2px 10px 7px 10px; text-decoration:none; }
.MBoxStyle1 .InfoImg { min-width:159px; max-width:159px; float:left;}
.MBoxStyle1 .InfoImg_M { max-width:139px; max-height:98px; min-width:139px; min-height:98px; border:1px solid #dadada; margin:5px 10px 5px 10px;  }
.MBoxStyle1 .InfoImg_M  img { max-width:139px; max-height:98px;}
.MBoxStyle1 .NewsImg { max-width:148px; max-height:168px; border:1px solid #dadada; margin-right:5px; }
.MBoxStyle1 .News2 { padding:5px 5px 5px 5px ; text-align:left; vertical-align:top; }
.MBoxStyle1 .News2 .Content01 { width:166px;}
.MBoxStyle1 .News2 .Content02 { padding-bottom:10px;  }
.MBoxStyle1 .News2 .Times { color:#b3b3b3;}
.MBoxStyle1 .News2 Select { height:17px; background-color:#efebe2; border:1px solid #b3b3b3; font-size:11px; color:#808080; font-family: Verdana, Arial, Helvetica, sans-serif; margin-top:5px; }
.MBoxStyle1 .News2 .Select_L {width:100%}
.MBoxStyle1 .News2 .Select_M {width:70%}
.MBoxStyle1 .News2 .Map{ max-width:142px; max-height:158px; margin-top:5px; border:1px solid #dadada;}
.MBoxStyle1 .News2 .MainS_Info { width:340px;}
.MBoxStyle1 .News2 .MainS_Info li.listli_news { margin:5px 0px 0px 25px;}
.MBoxStyle1 .News2 .MainS_Info ul li.listli_news { list-style:none; }
.MBoxStyle1 .News2 .MainS_Info li ul li { list-style: circle; margin:5px 0px 5px -10px; }
.MBoxStyle1 .News2 .MainS_Info a.newslink { color:#3daacf; }

.ContentContainer
{
	width: 997px;
	height: 100%;
	position: relative;
	clear: both;
	overflow: hidden;
}
.ContentLHS { float:left; width:783px; height:100%; padding:5px 10px 5px 10px; margin:auto; }
.ContentRHS { float:left; width:193px; margin:auto; min-height:100%; background-repeat:repeat-x; background-position:top;  }

.ContentLHS .LHSNav {float:left; width:155px; min-height:100px; font-size:11px;}
.ContentLHS .LHSNav .MainTitle {background-color:#97c823; color:#fff; min-height:148px; max-height:148px; min-width:150px; max-width:150px; text-align:left; padding:0px 0px 5px 5px; position:relative; margin-bottom:5px;}
.TitleStyle {position:absolute; bottom:5px; left:5px; font-size:130%; font-weight:bold;}

/** MHS **/
.MHSContent {float:left; width:620px;}
.ContentDIV {padding:10px 0px 30px 10px; width:615px; min-height:350px;_overflow: hidden;}
.Breadcrumb {padding:0px 0px 5px 0px; border-bottom:1px dashed #dadada; margin-bottom:10px;}
h1 { font-size:130%; font-weight:bold; color:#3daacf;}
p { text-align:justify; line-height:1.5em; margin-bottom:10px;}
.Content li {padding-bottom:5px;}
.Content ul, ol {padding-top:0px; margin-left:-20px; #margin-left:20px; _margin-left: 20px;}
.Content ul li ul li { clear:both;}
.Content img { border:1px solid #dadada; }
.imgFRGT { float:right; clear:both; margin-left:30px; margin-bottom:15px;}
.imgFLFT { float:left; clear:both; margin-right:30px; margin-bottom:15px;}
.imgSameRow { float:left; margin:10px 15px 10px 30px;}
.imgNone { border:none; margin-bottom:15px;}
.imgPad { margin-left:30px; margin-bottom:15px;}

.ContentRHS .RHSBG {min-height:100%; position:absolute; width:193px; background-image: url(/Templates/nstw/Images/Global/RHSBG.png); background-repeat:repeat-y; border-left:1px solid #e0fcd4;  background-color:#e0fcd4; }
.ContentRHS .RHSContent { clear:both; position:relative; width:175px; /*text-align:left; vertical-align:top; padding:0px 0px 0px 5px;*/ margin-left:auto; margin-right:auto; margin-top:5px;}
.ContentRHS .RHSContent div { margin-bottom:5px;}
.ContentRHS .RHSBanner_L { border:1px solid #dadada; width:175px; height:130px; }
.ContentRHS .RHSBanner_L img { max-width:175px; max-height:130px; }
.ContentRHS .RHSBanner_M { border:1px solid #dadada; width:175px; height:100px; }
.ContentRHS .RHSBanner_M img { max-width:175px; max-height:100px; }
.ContentRHS .RHSBanner_S { border:1px solid #dadada; width:175px; height:60px; }
.ContentRHS .RHSBanner_S img { max-width:175px; max-height:60px; }

/*Telerik RadCalendar Default skin*/

table.RadCalendar_calendar
{
	background:#fff !important;

	font:12px "segoe ui",arial,sans-serif !important;

}

/*titlebar*/

.RadCalendar_calendar .rcTitlebar
{
	border-color:#7c7c7c !important;
	background:#e4e4e4 !important;
	color:#000 !important;
}

.RadCalendar_calendar .rcTitlebar table
{
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_calendar .rcTitlebar td
{
	padding:0 0 1px;
}

.RadCalendar_calendar .rcTitlebar .rcPrev,
.RadCalendar_calendar .rcTitlebar .rcNext,
.RadCalendar_calendar .rcTitlebar .rcFastPrev,
.RadCalendar_calendar .rcTitlebar .rcFastNext
{
	width:18px;
	height:18px;
	margin:1px 2px 0;
	background-image:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendar_calendar .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_calendar .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_calendar .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_calendar .rcTitlebar a.rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_calendar .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_calendar .rcTitlebar a.rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_calendar .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_calendar .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_calendar .rcMain
{
	border-color:#999;
}

.RadCalendar_calendar .rcMainTable
{
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_calendar .rcHeader,
.RadCalendar_calendar .rcFooter
{
	border-color:#999;
}

/*week numbers and days*/

.RadCalendar_calendar .rcWeek th
{
	border-bottom:1px solid #999;
	padding:4px 6px 4px 0;
	color:#333;
}

.RadCalendar_calendar .rcWeek .rcViewSel,
.RadCalendar_calendar .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#ececec;
}

/*date cells*/

.RadCalendar_calendar .rcRow td
{
	border-color:#fff;
}

.RadCalendar_calendar .rcMain .rcRow a,
.RadCalendar_calendar .rcMain .rcRow span
{
	color:#000;
}

.RadCalendar_calendar .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_calendar .rcRow .rcToday
{
	border-color:#c95b00;
}

.RadCalendar_calendar .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_calendar .rcMain .rcOutOfRange span
{
	color:#777;
}

.RadCalendar_calendar .rcRow .rcSelected
{
	border-color:#ca250c;
	background:#ff7617;
}

.RadCalendar_calendar .rcMain .rcRow .rcSelected a
{
	color:#882501;
}

.RadCalendar_calendar .rcRow .rcHover
{
	border-color:#c95b00;
	background:#ffd39c;
}

.RadCalendar_calendar .rcMain .rcRow .rcHover a
{
	color:#892500;
}

/*multimonth view*/

.RadCalendarMultiView_calendar .rcTitlebar
{
	border-color:#616161;
	background:#c6c6c6;
}

.RadCalendarMultiView_calendar .rcTitlebar table
{
	line-height:29px;
}

.RadCalendarMultiView_calendar .rcMain
{
	border-color:#616161;
}

.RadCalendarMultiView_calendar .rcCalendar
{
	border-color:#999;
}

.RadCalendarMultiView_calendar .rcCalendar .rcMainTable
{
	height:177px;
}

.RadCalendarMultiView_calendar .rcMainTable .rcTitle
{
	border-color:#999;
	padding:0 0 2px;
	background:#e4e4e4;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_calendar
{
	border-color:#616161;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

.RadCalendarMonthView_calendar #rcMView_Feb,
.RadCalendarMonthView_calendar #rcMView_Apr,
.RadCalendarMonthView_calendar #rcMView_Jun,
.RadCalendarMonthView_calendar #rcMView_Aug,
.RadCalendarMonthView_calendar #rcMView_Oct,
.RadCalendarMonthView_calendar #rcMView_Dec
{
	border-right:1px solid #999;
}

.RadCalendarMonthView_calendar a
{
	color:#333;
}

.RadCalendarMonthView_calendar .rcSelected a
{
	border-color:#ca250c;
	background:#ff7617;
	color:#882501;
}

.RadCalendarMonthView_calendar #rcMView_PrevY a,
.RadCalendarMonthView_calendar #rcMView_NextY a
{
	width:18px;
	height:13px;
	background:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendarMonthView_calendar #rcMView_PrevY a
{
	background-position:0 -2100px;
}

.RadCalendarMonthView_calendar #rcMView_NextY a
{
	background-position:0 -2200px;
}

.RadCalendarMonthView_calendar .rcButtons
{
	padding:5px 7px 4px;
}

.RadCalendarMonthView_calendar input
{
	border-color:#7a7a7a;
	background:#c6c6c6;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

/*time view*/

table.RadCalendarTimeView_calendar
{
	border-color:#616161;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_calendar th
{
	border-bottom:1px solid #999;
	padding:0 0 1px;
	background:#e4e4e4;
	color:#000;
	line-height:23px;
}

table.RadCalendarTimeView_calendar td
{
	border-color:#999;
}

.RadCalendarTimeView_calendar a
{
	color:#333;
}

.RadCalendarTimeView_calendar td.rcSelected a
{
	border-color:#ca250c;
	background:#ff7617;
	color:#882501;
}

.RadCalendarTimeView_calendar td.rcHover a
{
	border-color:#c95b00;
	background:#ffd39c;
	color:#892500;
}

.RadCalendarTimeView_calendar .rcFooter
{
	border-color:#999;
}

/*pickers*/

.RadPicker_calendar .rcCalPopup,
.RadPicker_calendar .rcTimePopup
{
	background-image:url('Calendar/sprite.gif');
}

.RadPicker_calendar .rcCalPopup,
.RadPicker_calendar a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_calendar a.rcCalPopup:hover,
.RadPicker_calendar a.rcCalPopup:focus,
.RadPicker_calendar a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_calendar .rcTimePopup,
.RadPicker_calendar a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_calendar a.rcTimePopup:hover,
.RadPicker_calendar a.rcTimePopup:focus,
.RadPicker_calendar a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_calendar .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_calendar .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_calendar .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_calendar .rcTitlebar a.rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_calendar .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_calendar .rcTitlebar a.rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_calendar .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_calendar .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -250px;
}

 TABLE.RadCalendar_calendar .rcTitlebar {

	BACKGROUND-COLOR: #52ABBF;

}

 TABLE.RadCalendar_calendar .rcRow TH {

	BACKGROUND-COLOR: #52ABBF;

}

.cellWithEvents 
{
    background-color: #dddddd;
    font-weight: bold;
}
.evtTitle
{
    font-weight: bold;
    color: Navy;
}

.RadRotator_Default .rrClipRegion 
{
	border:0 solid #A7BAC5!important; 
}