body {
	SCROLLBAR-FACE-COLOR: #A2C0FF; 
	

	SCROLLBAR-ARROW-COLOR: #003366; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF; 


 SCROLLBAR-DARKSHADOW-COLOR: #A2C0FF; 
    SCROLLBAR-BASE-COLOR: #A2C0FF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 11pt;
	overflow-x:hidden;
background:url(bg.jpg);
}





a {
	text-decoration:none;
       cursor: pointer;
}


a:visited {  color: #CC0000; text-decoration: none}
a:hover {  color: #FFCC00; text-decoration: none}
a:link {  color: #CC0000; text-decoration: none}


.font {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;
}


td {
	font-size: 12pt;
	color:#000000;
	font-family:"細明體", Arial;
	
}
