@charset "utf-8";
/*------------------------------------------------------
button
/*------------------------------------------------------*/
.backBtn{
	padding: 7px 20px;
	height: 16px;
	line-height: 16px;
	background-color: #0092c8;
	color: #fff;
	text-align:center;
	text-decoration: none; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: right;
}
.backBtn:hover{
	background-color: #ff7700;
	color: #fff;
	text-decoration: none;
}



/*------------------------------------------------------
title
/*------------------------------------------------------*/
.albumTitle{
	width: 520px;
	color: #0076af;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	float:left;
}
.albumTitle_Full{
	width: 730px;
	color: #0076af;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	float:left;
}


/*------------------------------------------------------
album photo
/*------------------------------------------------------*/
.photoBox{
	padding: 0;
	margin: 0;
	clear: both;
	margin-top: 30px;
	width: 650px;
	float: left;
}
.photoBox_Full{
	width: 830px;
}
.photoBox h6{
	padding: 0;
	margin: 0;
	width: 205px;
	height: 20px;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
}
.photoBox ul{
	margin: 0;
	padding: 0;
	float: left;
}
.photoBox li{
	padding: 0;
	margin: 1px;
	height: 240px;
	display: inline;
	float: left;
}
.photoBox a{
	cursor: pointer;
	color: #0092c8;
}


/*------------------------------------------------------
file thumbnail
/*------------------------------------------------------*/
.wrapPhoto div {
	float: left;
	margin: 0;
}
.wrapPhoto{
	display: table-cell;
	width: 205px;
	height: 205px;
	text-align: center; /* qui e non su precedente, iCab3 */
	vertical-align: middle;
/*	border: 1px solid #cccccc;*/
}
.wrapPhoto img {
	/*border: solid 1px #ffffff;*/
	/*vertical-align: middle;*/
	margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
	max-width: 200px;
	max-height: 200px;
	/*border: 1px solid #00b7f6;*/
}
/** html .wrapPhoto img {
width: expression(this.width > 210 && this.width > this.height ? 210 : auto);
height: expresion(this.height > 210 ? 210 : auto);
}*/
/*\*//*/
* html .wrapPhoto a {
display: block;
}
* html .wrapPhoto img {
display: inline-block;
vertical-align: middle;
height: 100%;
width: 1px;
}
* html .wrapPhoto a {
font-size: 1px;
}
/* non serve solito shift background-position: 11px 11px per IE/Mac, forse perche' su inline-block? */
.wrapPhoto div {
	border-collapse: collapse; /* Op7 */
}
/*.clear {
	clear: both;
	margin: 0;
	padding: 1em 0;
}*/
