@charset "utf-8"; 
A:link{text-decoration:none; color:#06F}
A:visited{text-decoration:none}
h1{font-size:16px; font-weight:normal}
body{font: 100% 細明體, 新細明體; font-size:12px; background:#666; margin:0px; padding:0px; text-align:center; color:#000; background:url(http://www.myschool.hk/image/bg.gif); background-repeat:repeat-x}
.thrColElsHdr #container{width:1024px; background:#FFF; margin:0px auto; border:1px solid #ccc; margin-top:20px}
.thrColElsHdr #containernew{width:1030px; background:#FFF; margin:0px auto; border:1px solid #ccc; margin-top:20px}
.thrColElsHdr #box{width:170px; background:#FFF; margin:0px 0px; border:1px solid #ccc; text-align:center; padding:2px 2px}
.thrColElsHdr #toolbar{width:100%; background:#fff; margin:0; padding-top:0px; text-align:right; color:#000; height:100px}
.thrColElsHdr #header{padding:0px; background:url(http://www.myschool.hk/image/header.gif); background-repeat:no-repeat; height:172px; margin:0px}
.headertool{font-size:12px; color:#000; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-align:left; margin-bottom:0px; margin-top:0px; height:122px}
.headertool3{font-size:12px; color:#000; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-align:left; margin-bottom:0px; margin-top:0px; height:118px}
.headertoolnew{font-size:12px; color:#000; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-align:left; margin-bottom:0px; margin-top:0px; height:138px}
.togBar{display:block; padding:0px 0px; margin:0px 0px; text-align:left; border:0px solid; height:18px}
.togIcon{padding:0px 0px; margin:0px 0px; border:0px solid; height:16px; cursor:pointer}
.thrColElsHdr #sidebarLeft{float:left; width:124px; text-align:left; height:100%; margin-top:1px; border-bottom:1px solid #ccc; border-right:1px solid #ccc}
.thrColElsHdr #sidebarRight{float:right; width:160px; text-align:left; margin-top:1px; border-bottom:1px solid #ccc; border-left:1px solid #ccc}
.thrColElsHdr #sidebarRightNew{float:right; width:300px; text-align:left; margin-top:-5px; border-bottom:1px solid #ccc; border-left:1px solid #ccc}
.popup{position:absolute; filter:alpha(opacity=95); -moz-opacity:0.95; opacity:0.95; background:#FF8080;  padding:10px 10px; text-align:center; z-index:600}
.popup-p{position:absolute; filter:alpha(opacity=95); -moz-opacity:0.95; opacity:0.95; background:url(http://www.myschool.hk/image/pop-p.png); background-repeat:no-repeat; padding:10px 10px; text-align:center; z-index:600}
.popup-w{position:absolute; filter:alpha(opacity=95); -moz-opacity:0.95; opacity:0.95; background:#FFF;  padding:10px 10px; text-align:center; border:1px solid #CCC; z-index:600}
.popup-image{background:#FFF;  padding:5px; text-align:center; border:1px solid #CCC; padding:10px}
.popupModal{position:absolute; background:#FF8080;  padding:10px 10px; text-align:center; border:1px solid #A60000; z-index:600; display:none}
.thrColElsHdr #mainContent{ margin:5px 165px 1px 129px}
.thrColElsHdr #mainContentNew{ margin:1px 300px 1px 0px}
.thrColElsHdr #footer{padding:0 10px; background:#DDD; height:80px; background:url(http://www.myschool.hk/image/footer.gif); border-top:1px solid #fff}
.thrColElsHdr #footer p{margin:0; padding:10px 0}
.fltrt{float:right; margin-left:8px}
.fltlft{float:left; margin-right:8px}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0px}
.main{font:100% Verdana,Arial,Helvetica,sans-serif;background:#fff; margin:0px 0px;padding:10px 0px;text-align:left;color:#000}
.modalPop{width:100%; height:100%;position:absolute;z-index:500;top:0px;left:0px;display:none;background-image:url(http://www.myschool.hk/image/modal-back-grey.png)}
.pageNum{float:left; width:auto; font-size:12px; padding:1px; height:16px; border:1px solid #CCC; margin-right:2px; cursor:pointer}
.pageNum:hover{color:#06F; border:1px solid #06F}
.pageNumDim{float:left; width:auto; font-size:12px; padding:1px; height:16px; border:1px solid #CCC; margin-right:2px; background:#CCC}
.widget{width:315px; float:left; border:1px solid #CCC; padding:2px;height:auto;margin-left:7px; margin-bottom:5px}
.widget-title{margin-bottom:5px; text-align:left; font-size:16px}
.page-title{margin-bottom:5px; text-align:center; font-size:16px; padding:5px}
.expand{float:left; width:12px; height:12px; background-image:url(http://www.myschool.hk/image/collapse.gif); margin-right:2px; cursor:pointer}
.highlight{background:#ddd}
.curPage{background:#BFDFFF}
.url{cursor:pointer; color:#06F}
.url:hover{text-decoration:underline}
.searchRes{margin:10px 50px 10px 50px; width:auto}
.searchResTitle{border-bottom:1px solid #eee; text-align:left; color:#666}
.searchResTitle:hover{background:#ddd}
.district{float:left; margin:10px 10px 10px 10px; width:70px; height:70px; border:1px solid #ccc; text-align:center; cursor:pointer; padding:5px}
.pdistrict{float:left; margin:5px; width:80px; height:90px; border:1px solid #C993FF; text-align:center; cursor:pointer; padding:5px}
.district:hover{background:#FFFFBF} 
.pdistrict:hover{background:#DFBFFF}
.pschoolnet{float:left; margin-right:2px; border:0px solid #999; width:16px; height:16px; background:#CD9BFF; color:#fff; cursor:pointer; font-family:Arial; font-weight:bold}
.pschoolnet:hover{background:#FFF; color:#CD9BFF}
.widget-title-red{color:#970000; border:1px solid #F77; background:#FFACAC}
.widget-title-yellow{color:#666; border:1px solid #FFFF62; background:#FFFFBF}
.widget-title-purple{color:#666; border:1px solid #C993FF; background:#DFBFFF}
.widget-title-orange{color:#666; border:1px solid #FFC286; background:#FFE0C1}
.widget-title-blue{color:#666; border:1px solid #75BAFF; background:#CEE7FF}
.widget-title-brown{color:#666; border:1px solid #EBC276; background:#EBD3A5}
.widget-title-pink{color:#666; border:1px solid #FF99F5; background:#FFCCFA}
.widget-title-cyan{color:#666; border:1px solid #66FFD9; background:#B3FFEC}
.widget-title-green{color:#666; border:1px solid #A9FF53; background:#CDFF9B}
.widget-title-white{color:#FFFFFF; border:0px; background:#FFFFFF; font-size:6px}
.widget-title-black{color:#666; border:1px solid #cccccc; background:#dddddd}
.school-title{color:#3F7D00; border:1px solid #A9FF53; background:#CDFF9B; text-align:center; margin-bottom:10px}
.school-title-closed{color:#666666; border:1px solid #cccccc; background:#dddddd; text-align:center; margin-bottom:10px}
.label-yellow{background:#FFC}
.label-red{background:#FFDFDF}
.label-purple{background:#F2E6FF}
.label-orange{background:#FED}
.label-blue{background:#E1F0FF}
.label-pink{background:#FFE6FC}
.label-cyan{background:#CCFFF2}
.label-green{background:#CDFF9B}
.label-brown{background:#EBD3A5}
.school-Int{float:left; margin:2px; width:72px; height:72px; text-align:center; cursor:pointer; padding:2px 2px; background:#CDFF9B}
.school-Int:hover{background:#FFDFDF}
.page-title-green{border:3px solid #A9FF53; background:#CDFF9B; text-align:center}
.divider{border-top:1px solid #ccc; height:5px; margin-top:5px}
.header-path{margin-top:10px; margin-bottom:10px}
.header-path-new{margin-top:0px; margin-bottom:10px}
.fb-pic{float:left; width:70px; height:70; text-align:center; padding-top:5px}
.fb-pic-s{float:left; width:25px; height:25; text-align:center}
.post-box{border:1px solid #ccc; width:406px; padding:2px; min-height:60px}
.fbname{font-weight:bold; color:#06F}
.post_del{cursor:pointer}
.new_topic{float:right; width:80px; border:1px solid #ccc; text-align:center; background:#fff; cursor:pointer; margin-right:5px; font-size:16px}
.new_topic:hover{color:#06F; border:1px solid #06F}
.unread{padding:2px; background:#F00; color:#fff; cursor:pointer; font-weight:bold; font-family:Arial; margin-top:4px; float:right}
.unread:hover{text-decoration:underline}
.adbox{border:1px solid #CCC; width:120px;height:120px;margin-top:10px}
.contentFont{font-size:16px}