body {
	margin: 0px; background-color: rgb(255, 255, 204);
}
.content {
	color: rgb(134, 131, 131); font-family: Arial, Helvetica, sans-serif; font-size: 16px;
}
.gallery {
	margin: 0px; padding: 0px;
}
.gallery img {
	border: 6px solid rgb(204, 238, 153); border-image: none;
}
.content {
	text-align: center; font-family: "微正黑w", "丝w", "新明w", "明w"; font-size: 20px;
}
.content2 {
	text-align: left; color: rgb(134, 131, 131); font-family: "微正黑w", "丝w", "新明w", "明w"; font-size: 18px;
}
